include variable_links
- var icon_list = "fas fa-angle-right"
- var list_products = ["Cây chậu treo (10)", "Cây cỏ hoa (5)", "Cây dây leo", "Cây để bàn", "Cây may mắn", "Cây trang trí", "Cây nội thất"]
- var search_by_price = ["200.000 Đ - 400.000 Đ", "400.000 Đ - 600.000 Đ", "600.000 Đ - 800.000 Đ", "800.000 Đ - 1.000.000 Đ", "1.000.000 - 2.000.000 Đ"]
- var search_product = "fas fa-search"
- var heart_product = "fas fa-heart"
- 
    var search_by_color = [
        {
            classes: "green",
            name: "Xanh cây"
        },
        {
            classes: "red",
            name: "Đỏ cam"
        },
        {
            classes: "purple",
            name: "Tím"
        },
        {
            classes: "blue",
            name: "Xanh trời"
        },
        {
            classes: "yellow",
            name: "Vàng"
        },
        {
            classes: "pink",
            name: "Hồng"
        }
    ]
- var icon_view = ["fas fa-th", "fas fa-list"]
- 
    var grid_view = [
        {      
            img: `${link_images}/spx2-15.png`,
            name: 'Cây dạ lam',
            price_new: '250.000đ',
            price_old: '250.000đ',
            span_class: 'none',
            span_text: ''
        },
        {      
            img: `${link_images}/spx2-12.png`,
            name: 'Cây danh dự',
            price_new: '250.000đ',
            price_old: '250.000đ',
            span_class: 'none',
            span_text: ''
        },
        {      
            img: `${link_images}/spx2-11.png`,
            name: 'Cây chân chim',
            price_new: '250.000đ',
            price_old: '250.000đ',
            span_class: 'none',
            span_text: ''
        },
        {      
            img: `${link_images}/spx2-2.png`,
            name: 'Cây cọ ta',
            price_new: '250.000đ',
            price_old: '250.000đ',
            span_class: 'none',
            span_text: ''
        },
        {      
            img: `${link_images}/spx2-8.png`,
            name: 'Cây dứa nhỏ',
            price_new: '250.000đ',
            price_old: '250.000đ',
            span_class: 'none',
            span_text: ''
        },
        {      
            img: `${link_images}/spx2-1.png`,
            name: 'Cây đa búp đỏ',
            price_new: '250.000đ',
            price_old: '250.000đ',
            span_class: 'none',
            span_text: ''
        },
        {      
            img: `${link_images}/spx2-15.png`,
            name: 'Cây dạ lam',
            price_new: '250.000đ',
            price_old: '250.000đ',
            span_class: 'none',
            span_text: ''
        },
        {      
            img: `${link_images}/spx2-12.png`,
            name: 'Cây danh dự',
            price_new: '250.000đ',
            price_old: '250.000đ',
            span_class: 'none',
            span_text: ''
        },
        {      
            img: `${link_images}/spx2-11.png`,
            name: 'Cây chân chim',
            price_new: '250.000đ',
            price_old: '250.000đ',
            span_class: 'none',
            span_text: ''
        },
        {      
            img: `${link_images}/spx2-2.png`,
            name: 'Cây cọ ta',
            price_new: '250.000đ',
            price_old: '250.000đ',
            span_class: 'none',
            span_text: ''
        },
        {      
            img: `${link_images}/spx2-8.png`,
            name: 'Cây dứa nhỏ',
            price_new: '250.000đ',
            price_old: '250.000đ',
            span_class: 'none',
            span_text: ''
        },
        {      
            img: `${link_images}/spx2-1.png`,
            name: 'Cây đa búp đỏ',
            price_new: '250.000đ',
            price_old: '250.000đ',
            span_class: 'none',
            span_text: ''
        }
        
    ]
- 
    var list_view = [
        {
            img: `${link_images}/spx2-1.png`,
            name: 'Cây ngọc ngân',
            des: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc Ngân (valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
            price: '279.000đ'
        },
        {
            img: `${link_images}/spx2-2.png`,
            name: 'Cây ngọc ngân',
            des: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc Ngân (valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
            price: '279.000đ'
        },
        {
            img: `${link_images}/spx2-3.png`,
            name: 'Cây ngọc ngân',
            des: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc Ngân (valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
            price: '279.000đ'
        }
        ,
        {
            img: `${link_images}/spx2-4.png`,
            name: 'Cây ngọc ngân',
            des: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc Ngân (valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
            price: '279.000đ'
        },
        {
            img: `${link_images}/spx2-5.png`,
            name: 'Cây ngọc ngân',
            des: 'Cây Ngọc Ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc Ngân (valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
            price: '279.000đ'
        }
    ]
- var change_page = ["Trang trước", "1", "2", "3", "4", "Trang cuối"]