extend ./layouts/layout
block append links
    link(rel="stylesheet", href="./css/style.css")

block main 
    include ./variables/variable_homepage
    include ./variables/variable_links
    main#main 
        section.section__slides 
            #carouselExampleIndicators.carousel.slide(data-ride="carousel") 
                ol.carousel-indicators
                    each slide in data_slides
                        if slide == "0"
                            +data_slide(slide)(class="active")
                        else 
                            +data_slide(slide)
                .carousel-inner
                    each img, index in image_slides
                        if index == 0
                            +carousel-item(img)(class="active")
                        else
                            +carousel-item(img)
        section.section__hot-products 
            .container 
                .product-categories 
                    span Sản phẩm nổi bật 
                .row.product 
                    .col-12.col-md-6.product-left
                        .product-left-top.img-big
                            div.img  
                                img(src=`${link_images}/spx2-4.png`, alt="spx2-4.png")
                                span.new New
                                div 
                                    button Mua ngay 
                                    a(href="#")
                                        i(class=search_product) 
                            div.description 
                                span.name-product Cây chân chim 
                                .rating-box 
                                    span.rating 
                                .price 
                                    span.price-new 250.000 đ
                                    span.price-old 250.000 đ
                        .product-left-bottom.img-small
                            div.wrapper
                                .img 
                                    img(src=`${link_images}/spx2-11.png`, alt="spx2-11.png")
                                    span.sale -50%
                                    div 
                                        button Mua ngay 
                                        a(href="#")
                                            i(class=search_product)
                                .description 
                                    span.name-product Cây cọ ta
                                    .rating-box 
                                        span.rating 
                                    .price 
                                        span.price-new 150.000 đ
                                        span.price-old 250.000 đ
                            div.wrapper
                                .img 
                                    img(src=`${link_images}/spx2-6.png`, alt="spx2-6.png") 
                                    div 
                                        button Mua ngay 
                                        a(href="#")
                                            i(class=search_product)
                                .description 
                                    span.name-product Cây dứa nhỏ
                                    .rating-box 
                                        span.rating 
                                    .price 
                                        span.price-new 375.000 đ
                                        span.price-old 250.000 đ
                    .col-12.col-md-6.product-right
                        .product-right-top.img-small 
                            div.wrapper
                                .img 
                                    img(src=`${link_images}/spx2-5.png`, alt="spx2-5.png")
                                    span.sale -50%
                                    div 
                                        button Mua ngay 
                                        a(href="#")
                                            i(class=search_product)
                                .description 
                                    span.name-product Cây dạ lam
                                    .rating-box 
                                        span.rating 
                                    .price 
                                        span.price-new 250.000 đ

                                        span.price-old 500.000 đ
                            div.wrapper
                                .img  
                                    img(src=`${link_images}/spx2-15.png`, alt="spx2-15.png")
                                    span.new New
                                    div 
                                        button Mua ngay 
                                        a(href="#")
                                            i(class=search_product)
                                .description 
                                    span.name-product Cây danh dự
                                    .rating-box 
                                        span.rating 
                                    .price 
                                        span.price-new 850.000 đ

                                        span.price-old 250.000 đ
                        .product-right-bottom.img-big
                            div.img    
                                img(src=`${link_images}/spx2-3.png`, alt="spx2-3.png")
                                span.sale -50%
                                div 
                                    button Mua ngay 
                                    a(href="#")
                                        i(class=search_product) 
                            div.description 
                                span.name-product Cây chân chim 
                                .rating-box 
                                    span.rating 
                                .price 
                                    span.price-new 250.000 đ
                                    span.price-old 250.000 đ
        section.section__products-general
            .container
                .row 
                    .col-12.col-md-4.col-lg-3.products-buy-a-lot
                        .product-categories 
                            span Sản phẩm mua nhiều
                        ul.product-items 
                            each item in product_items
                                - const {img, name, price} = item
                                    +product-item(img, name, price) 
                    .col-12.col-md-8.col-lg-9.products-sale
                        .product-categories 
                            span Sản phẩm khuyến mãi
                            ul.directional
                                each dir in directional
                                    +directional(class=dir) 

                        ul.product-items-sale.row
                            each item in product_sales
                                - const {img, name, price_new, price_old, span_class, span_text} = item 
                                    +product-sale(img, name, price_new, price_old, span_text)(class=span_class)
        section.section__panner
            .container
                img(src=`${link_images}/panner-home.png`, alt="panner")
        section.section__new-products
            .container 
                .product-categories 
                    span Sản phẩm mới
                    ul.directional
                        each dir in directional
                            +directional(class=dir)
                ul.new-products-item.row
                    each item_2 in new_products
                        - const {img_2, name_2, price_new_2, price_old_2, span_class_2, span_text_2} = item_2 
                            +new-product(img_2, name_2, price_new_2, price_old_2, span_text_2)(class=span_class_2)
        section.section__news-homepage 
            .container 
                .product-categories 
                    span Tin tức
                ul.news-homepage.row
                    each item in news_homepage
                        - const {img, date, title, text} = item 
                            +news-homepage(img, date, title, text)

        
