include ../variables/variable_header

mixin icon-contact
    li 
        a(href="#")
            i&attributes(attributes)
mixin signs(signs)
    li 
        a(href="#")
            i&attributes(attributes) 
            | #{signs}
mixin connects(item)
    li 
        span
            i&attributes(attributes) 
            | #{item}
mixin menu(name)
    if name == "Sản Phẩm"
        li.nav-item.dropdown 
            a.nav-link.dropdown-toggle(href="#",id="submenu_1", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", role="button")= name 
            ul.dropdown-menu(aria-labelledby="submenu_1")
                each item_sub in nav_products
                    +submenu(item_sub)
    else if name == "Sản Phẩm Mới"
         li.nav-item.dropdown 
            a.nav-link.dropdown-toggle(href="#",id="submenu_2", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")= name 
            ul.dropdown-menu(aria-labelledby="submenu_2")
                each item_sub in nav_new_Products
                    +submenu(item_sub)
    else if name == "Trang Chủ"
        li.nav-item 
            a.nav-link.active(href="#")= name
    else
        li.nav-item 
            a.nav-link(href="#")= name 
    

mixin submenu(submenu_name)
     li
        a.dropdown-item(href="#")= submenu_name


mixin info(name)
    li 
        a(href="#")
            i&attributes(attributes)
            | #{name}

mixin general_info(name)
    li 
        a(href="#")= name 


mixin data_slide(str_number)
    li(data-target="#carouselExampleIndicators", data-slide-to=str_number)&attributes(attributes)

mixin carousel-item(img)
    div.carousel-item&attributes(attributes)
        img.d-block.w-100(src=img, alt="link error")
        .title 
            h1 Green Shop
            h5 Cho thuê cây cảnh tết 2016
            p (Miễn phí vận chuyển với những đơn hàng có giá trị trên 5.000.000đ)


mixin product-item(img, name, price)
    li.item
        div.img 
            img(src=img, alt="link error")
        div.des
            span.name-product= name 
            .rating-box 
                span.rating
            span.price= price 


mixin product-sale(img, name, price_new, price_old, span_text)
    li.item.col-12.col-sm-6.col-lg-4
        div.wrapper
            div.img 
                img(src=img, alt="link error")
                span&attributes(attributes)= span_text
                div 
                    button Mua ngay 
                    a(href="#")
                        i(class=search_product)
            div.des
                span.name-product= name 
                .rating-box 
                    span.rating
                div.price 
                    span.price-new= price_new 
                    span.price-old= price_old


mixin directional
    li 
        a(href="#")
            i&attributes(attributes) 


mixin new-product(img, name, price_new, price_old, span_text)
    li.item.col-12.col-sm-6.col-lg-4.col-xl-3
        div.wrapper
            div.img 
                img(src=img, alt="link error")
                span&attributes(attributes)= span_text
                div 
                    button Mua ngay 
                    a(href="#")
                        i(class=search_product)
            div.des
                span.name-product= name 
                .rating-box 
                    span.rating
                div.price 
                    span.price-new= price_new 
                    span.price-old= price_old

