include ../variables/variable_header
include ../variables/variable_list_product
include ../variables/variable_newspage

mixin icon-contact
    li 
        a(href="#")
            i&attributes(attributes)
mixin signs(signs)
    li 
        a(href="#")
            i&attributes(attributes) 
            | #{signs}
mixin connects(item)
    li 
        span
            i&attributes(attributes) 
            | #{item}
mixin menu(name)
    if name == "Sản Phẩm"
        li.nav-item.dropdown 
            a.nav-link.dropdown-toggle(href="#",id="submenu_1", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", role="button")= name 
            ul.dropdown-menu(aria-labelledby="submenu_1")
                each item_sub in nav_products
                    +submenu(item_sub)
    else if name == "Sản Phẩm Mới"
        li.nav-item.dropdown 
            a.nav-link.dropdown-toggle(href="#",id="submenu_2", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")= name 
            ul.dropdown-menu(aria-labelledby="submenu_2")
                each item_sub in nav_new_Products
                    +submenu(item_sub)
    else if name == "Trang Chủ"
        li.nav-item 
            a.nav-link.active(href="index.html")= name
    else if name == "Tin Tức"
        li.nav-item 
            a.nav-link(href="news-page.html")= name 
    else if name == "Liên Hệ"
        li.nav-item 
            a.nav-link(href="contact-page.html")= name 
    else 
        li.nav-item 
            a.nav-link(href="#")= name 
    
mixin submenu(submenu_name)
     li
        a.dropdown-item(href="/list-products.html")= submenu_name

mixin info(name)
    li 
        a(href="#")
            i&attributes(attributes)
            | #{name}

mixin general_info(name)
    li 
        a(href="#")= name 

mixin data_slide(str_number)
    li(data-target="#carouselExampleIndicators", data-slide-to=str_number)&attributes(attributes)

mixin carousel-item(img)
    div.carousel-item&attributes(attributes)
        img.d-block.w-100(src=img, alt="link error")
        .title 
            h1 Green Shop
            h5 Cho thuê cây cảnh tết 2016
            p (Miễn phí vận chuyển với những đơn hàng có giá trị trên 5.000.000đ)

mixin product-item(img, name, price)
    li.item
        div.img 
            img(src=img, alt="link error")
        div.des
            span.name-product= name 
            .rating-box 
                span.rating
            span.price= price 

mixin product-sale(img, name, price_new, price_old, span_text)
    li.item.col-12.col-sm-6.col-lg-4
        div.wrapper
            div.img 
                img(src=img, alt="link error")
                span&attributes(attributes)= span_text
                div 
                    button Mua ngay 
                    a(href="/detail-product.html")
                        i(class=search_product)
            div.des
                span.name-product= name 
                .rating-box 
                    span.rating
                div.price 
                    span.price-new= price_new 
                    span.price-old= price_old

mixin directional
    li 
        a(href="#")
            i&attributes(attributes) 

mixin new-product(img, name, price_new, price_old, span_text)
    li.item.col-12.col-sm-6.col-lg-4.col-xl-3
        div.wrapper
            div.img 
                img(src=img, alt="link error")
                span&attributes(attributes)= span_text
                div 
                    button Mua ngay 
                    a(href="/detail-product.html")
                        i(class=search_product)
            div.des
                span.name-product= name 
                .rating-box 
                    span.rating
                div.price 
                    span.price-new= price_new 
                    span.price-old= price_old

mixin news-homepage(img, date, title, text)
    li.col-12.col-md-4.news-item 
        .wrapper 
            img(src=img, alt="link error")
            span.date= date 
            h5.title= title 
            p.text= text 
            a(href="#") Đọc tiếp 

mixin list-items(name)
    li.item 
        i(class=icon_list)
        a(href="#")= name 

mixin list-color(name)
    li.item-color 
        span&attributes(attributes)
        a(href="#")= name  

mixin change-view-icon  
    li 
        label(for="check")
            i&attributes(attributes) 

mixin change_page(stt)
    li 
        a(href="#")&attributes(attributes)= stt

mixin list_view(img, name, des, price)
    li.list-item 
        .img 
            img(src=img, alt="link error")
        .description 
            h5.name= name 
            .rating-box 
                span.rating
            p.des= des 
            span.price= price 
            .choose 
                button(type="button") Mua ngay
                a(href="/detail-product.html")
                    i(class=search_product)
                a(href="#")
                    i(class=heart_product)

mixin cart_item(img, name, unit_price, count, into_money)
    tr
        td.img
            img(src=img, alt="link error")
        td.name-product= name 
        td.unit-price= unit_price 
        td.count
            input(type="text", value=`${count}`)
        td.into-money= into_money 
        td.delete
            a(href="#")
                i&attributes(attributes)
<<<<<<< HEAD
=======

mixin featured_news(img, text)
    li 
        a(href="detailed-news.html")
            .img
                img(src=img, alt="link error")
            p.text= text 

mixin blog_tag(name)
    li 
        a(href="#")= name 

mixin news_list(title, date, time, comment, img, text)
    li
        a(href="detailed-news.html") 
            h5= title 
        .icon
            span.date 
                i(class=icon_date)
                | #{date}
            span.time 
                i(class=icon_time)
                | #{time}
            span.comment 
                a(href="#")
                    i(class=icon_comment)
                    | #{comment}
        .img 
            img(src=img, alt="link error")
        .text 
            p= text
>>>>>>> 31672e0... task-15
